[submodule "restapi/external/libpqxx"]
	path = restapi/external/libpqxx
	url = git@github.com:jtv/libpqxx.git
[submodule "restapi/external/Crow"]
	path = restapi/external/Crow
	url = git@github.com:CrowCpp/Crow.git
[submodule "restapi/external/jwt-cpp"]
	path = restapi/external/jwt-cpp
	url = git@github.com:Thalhammer/jwt-cpp.git
